<% include ../partials/header %>
	
	<div class="form-wrap-main">
		<div id="border-top"></div>
		<div id="border-right"></div>
		<div id="border-btm"></div>
		<div id="border-left"></div>		
		<div class="form-wrap main">
			<h1>Edit <%= park.name %></h1>
			<form class="form" action="/parks/<%= park._id %>/?_method=PUT" method="POST">	
				<input type="text" name="park[name]" value="<%= park.name %>">
				<input type="text" name="park[description]" value="<%= park.description %>">

				<div class="form-group-radio">
					<input type="radio" name="park[level]" value="Beginner">
					<label for="beginner" class="class-label form-subt">Beginner</label>
				</div>
				<div class="form-group-radio">
					<input type="radio" name="park[level]" value="Intermediate">
					<label for="intermediate" class="class-label form-subt">intermediate</label>
				</div>
				<div class="form-group-radio">
					<input type="radio" name="park[level]" value="Pro">
					<label for="pro" class="class-label form-subt">Pro</label>
				</div>
				<div class="form-group-radio">
					<input type="radio" name="park[level]" value="All Levels">
					<label for="all" class="class-label form-subt">All Levels</label>
				</div>
				<label for="location" class="form-subt location">Location</label>
				<input class="form-control" type="text" name="location" id="location" value="<%= park.location %>">
				<div class="form-group">
					<button class="btn-form">Submit</button>
				</div>
				<a href="/parks">Go Back</a>
			</form>
		</div>	
	</div>
<% include ../partials/footer %>